.doughnut {
    display: flex;
    align-items: center;
    position: relative;
}
.doughnut__text {
    padding-right: 15px;
}
.doughnut__img {
    border: 3px solid rgba(7, 243, 27, 0.959);
    border-radius: 50px;
    height: 18px;
    width: 45px;
    position: absolute;
    right: 3px;
}

.doughnut__img--yeji {
    width: 140px;
}

.doughnut__img--irin {
    width: 85px;

}

.doughnut__img--iu{
    width: 125px;
}

.doughnut__img--suzy{
    width: 55px;
}